<section class="carousel">
        <div class="container">
                @for (slideSelect of dataSalides; track $index) {
                @let imageUrl = slideSelect.image;
                @let background = slideSelect.background ? imageUrl ? slideSelect.background+'44':slideSelect.background
                :'transparent';
                <article class="item" [class]="slideSelect.clase">
                        <div [class]="'background bg-[' + background + ']'"></div>
                        @if (imageUrl || imageUrl!='') {
                        <img [src]="imageUrl" [alt]="slideSelect.title">
                        }

                        <div class="data">
                                <div class="novedad__content">
                                        <h3 class="novedad__title">{{slideSelect.title}}</h3>
                                        <p class="novedad__description">{{slideSelect.description}}</p>
                                </div>
                        </div>
                </article>
                }
        </div>
        <div class="options">
                @for (buttonSlide of buttonsSlide; track $index) {
                <button class="btn-select-slide" [class]="buttonSlide.clase" (click)="clickBtnSlideSpecific($index)"></button>
                }
        </div>
        <!-- Controles -->
        <button class="btn-control btn-prev" (click)="moveSlide(-1)">&#10094;</button>
        <button class="btn-control btn-next" (click)="moveSlide(1)">&#10095;</button>
</section>