.carousel {
        @apply relative flex items-center overflow-hidden w-full h-full;
        
        .container {
                @apply flex w-[100vw] h-[100%] transition-transform duration-500 ease-in-out relative;
                transform: translateX(0);

                .item {
                        @apply flex flex-shrink-0 w-[100vw] h-[100%] text-white justify-center items-center absolute overflow-hidden;
                        transition-property: left;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-duration: .7s;
                        img {
                                @apply w-[90%] h-[85%] object-cover -z-20 absolute;
                        }
                        .background {
                                @apply w-[90%] h-[85%] -z-10 absolute;
                        }

                        &.prev2 {
                                @apply -left-[200vw];

                                @starting-style {

                                        transition: none;
                                }
                        }

                        &.prev {
                                @apply -left-[100vw];
                        }

                        &.active {
                                @apply left-[0];
                        }

                        &.next {
                                @apply left-[100vw];
                        }

                        &.next2 {
                                @apply left-[200vw];
                                transition: none;
                        }

                        &.none {
                                transition: none;
                                display: none
                        }
                }
        }

        .options {
                @apply absolute bottom-0 w-full h-[30px] flex justify-center gap-4;

                .btn-select-slide {
                        @apply w-3 h-3 bg-slate-600 rounded-full;

                        &.active {
                                @apply bg-[#5BBCFF] border-white border blur-[1px];
                        }
                }
        }

        .btn-control {
                @apply absolute bg-[#0828528a] w-8 h-8 rounded-full transition-all;
                &:hover{
                        background: #024aa781;
                }
                &.btn-prev {
                        left: 20px;
                }

                &.btn-next {
                        right: 20px;
                }
        }

}