<div class="base before:bg-[#030c1bc2] text-white">
        <header class="bg-slate-800 flex items-center px-6">
                <img src="/assets/Icons/Logo-White-name.svg" alt="" class="w-40">
                <nav class="flex-[2]">
                        <ul class="w-full flex justify-center">
                                <li><a routerLink="/" class="px-6 py-3 bg-[#30425E]">Home</a></li>
                                <li><a routerLink="/courses" class="px-6 py-3 bg-[#30425E]">Cursos</a></li>
                                <li><a routerLink="/scholarships" class="px-6 py-3 bg-[#30425E]">Becas</a></li>
                                <li><a routerLink="/plans" class="px-6 py-3 bg-[#30425E]">Planes</a></li>
                        </ul>
                </nav>
                <nav class="">
                        <ul class="flex gap-4">
                                <li><a routerLink="/register">Iniciar Sesión</a></li>
                                <li><a routerLink="/register">Registrarse</a></li>
                        </ul>
                </nav>
        </header>
        <router-outlet/>
</div>
