<header>
        <img [src]="assets.icons['logo-white']" alt="" routerLink="/">
        <nav class="pages">
                <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/courses">Cursos</a></li>
                        <li><a routerLink="/scholarships">Becas</a></li>
                        <li><a routerLink="/plans">Planes</a></li>
                </ul>
        </nav>
        <nav class="session">
                <ul>
                        <li><a routerLink="/signin">Iniciar Sesión</a></li>
                        <li><a routerLink="/signup">Registrarse</a></li>
                </ul>
        </nav>
</header>