<article class="plan" [class]="tier.featured?'center':''">
        <span class="name">{{tier.name}}</span>
        <p class="precio-periodo"><span class="price">{{tier.priceMonthly}}</span><span class="periodo">/anual</span></p>
        <p class="description">{{tier.description}}</p>
        <ul>
                @for (feature of tier.features; track $index) {
                <li>
                        <svg viewBox="0 0 20 20" fill="currentColor" class="h-6 w-5">
                                <path fill-rule="evenodd" fill="#73C9FF"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z">
                                </path>
                        </svg>
                        {{feature}}
                </li>
                }
        </ul>
        <div class="options">
                <btn text="Empieza ahora" classStyle="bg-[#1900ff69] text-white hover:bg-[#1900ffa9]"/>
        </div>
</article>