<div class="base">
        <main>
                <section class="carouselsect">
                        <line-border class="" direction="line-h" position="top" />
                        <line-border class="absolute" direction="line-v" position="left" />
                        <line-border class="absolute right-0" direction="line-v" position="right" />
                        <line-border class="" direction="line-h" position="bottom" />
                        <slider [dataSlides]="slidesVariants.default" class="carousel" />

                </section>
                <section-plans title="Bienvenido a SkillConnect"
                        description="Explora nuestras opciones de aprendizaje y comienza tu viaje hacia el éxito." />
        </main>
        <footer>

        </footer>
</div>