<div class="base">
        <main>
                <section class="carouselsect">
                        <div class="line-h t">
                                <div class="background"></div>
                                <div class="brd"></div>
                        </div>
                        <div class="line-v l">
                                <div class="background"></div>
                                <div class="brd"></div>
                        </div>
                        <div class="line-v r">
                                <div class="background"></div>
                                <div class="brd"></div>
                        </div>
                        <div class="line-h b">
                                <div class="background"></div>
                                <div class="brd"></div>
                        </div>
                        <app-slider [dataSalides]="dataSalides" class="carousel" />
                </section>
                <section-plans title="Bienvenido a SkillConnect"
                        description="Explora nuestras opciones de aprendizaje y comienza tu viaje hacia el éxito." />
        </main>
        <footer>

        </footer>
</div>